= semantic_form_for @todo_list do |f|
  = f.semantic_errors :state

  = f.inputs :id => "task" do
    = f.input :title
    = f.input :description, :input_html => { :class => 'autogrow', :rows => 10, :cols => 120, :maxlength => 10  }
  = f.actions do 
    =f.action :submit, :as => :button
    =f.action :cancel, :as => :link
